.weather{
    width: 220px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.weather-loc{
    font-size: 18px;
}

.weather-temp{
    float:left;
}
.weather-temp::before{
    content: 'Currently ';
}

.weather-humidity{
    float: right;
}
.weather-humidity::before{
    content: 'Humidity: ';
}
.weather-humidity::after{
    content: '%';
}